* {
    color: white;
}

div.page-wrapper {
    width: 760px;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: auto auto 0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.566);
}

:root {
    background-image: url(https://images.pexels.com/photos/539694/pexels-photo-539694.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: auto 150vh;
    background-position: center;
    background-attachment: fixed;
}

h1:before {
    content: url(../88cf42bd19a9d7fd03e41710b5d76eb2_400x400-removebg-preview-removebg-preview.png);
    display: inline;
    zoom: 15%;
    margin: 0 50px 0 0;
}

h2:first-child {
    font-size: 1.75rem;
    padding: 0 0.5em 0 0.5em;
    margin-top: 15%;
}

h2:nth-child(2), h2:nth-child(2) > abbr {
    text-decoration: underline;
    border-bottom: none;
    font-style: normal;
}

h2:nth-last-child, h2:nth-last-child > abbr {
    text-decoration: underline;
    border-bottom: none;
    font-style: normal;
}

div[class*=e] > h3,
div[class*=i] > h3 {
    font-size: 1.5rem;
    padding: 0 1.25em 0 1.25em;
    margin-top: 12.5%;
}

h3 + p {
    color: white;
}

div[role$=cle] > .intro .main.supporting h2,
.intro .main.supporting h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-style: italic;
}

[id|="zen"] > div {
    padding: 0 36px 0 36px;
}

.sidebar {
    position: fixed;
    top: 0vh;
    left: 1660px;
    width: 220px;
    height: 120%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.566);
}

a:link {
    color: #77A690;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
    transition: all 200ms ease;
}

a:visited {
    color: #77a690;
}

a:focus {
    padding: 0 25px;
}

a:nth-of-type(2n):active {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
    margin: 0px;
    background-image: url(https://c.tenor.com/lmtu6lOVZbkAAAAC/breaking-bad.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: padding-box;
    box-sizing: border-box;
    padding: auto;
    font-size: 0px;
    width: 100vw;
    height: 100vh;
    /* Credit: Colby Olsen */
    /* no theft, theft bad..... unless I do it */
}

a:nth-of-type(2n+1):active {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
    margin: 0px;
    background-image: url(../output-onlinegiftools.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: padding-box;
    box-sizing: border-box;
    padding: auto;
    font-size: 0px;
    width: 100vw;
    height: 100vh;
    /* Credit: Colby Olsen */
    /* no theft, theft bad..... unless I do it */
}

abbr {
    text-decoration: none;
}

abbr:hover {
    color:#77A690;
    transition: all 200ms ease;
}

ul li {
   width: 85%;
   margin: 0 auto 5px;
   color: rgb(132, 132, 132);
}

ul {
    list-style: none;
    padding-bottom: 2em;
}

[role=banner] abbr {
    font-size: 1.75rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-style: italic;
    color: white;
}

[class~=design] h3,
.zen-resources h3 {
    text-align: center;
    border-bottom: 2px solid lightgrey;
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5% auto 0;
}

ul > li:hover {
    background-color: aliceblue;
    transition: all 200ms ease;
}

p:last-child:last-of-type {
    font-style: italic;
}

h1, h1 ~ h2, [role=banner] abbr {
    text-align: center;
    border-bottom: 2px solid lightgrey;
    color: #77A690;
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 auto auto 0.5em
}

div:empty {
    appearance: none;
}

:not(h1)::selection {
    background-color: rgb(253, 201, 240);
    color: black;
}

p:first-letter {
    font-size: 1.25em;
}

p:first-of-type:first-line {
    font-style: italic;
}

footer:only-of-type {
    border-top: 2px solid lightgrey;
    margin: 10%;
    padding: 2%;
    font-size: 1.75em;
    display: flex;
    justify-content: space-around;
}

div.page-wrapper:after {
    content: url(../88cf42bd19a9d7fd03e41710b5d76eb2_400x400-removebg-preview-removebg-preview.png);
    display: flex;
    justify-content: center;
    zoom: 30%;
    margin: 0 auto;
}

.sidebar > p:nth-child(2) {
    color:rgb(253, 201, 240);
}